:root {
  --theme-light: #ffffff;
  --theme-dark: #303030;
  --theme-yellow: #ffc700;
  --theme-blue: rgba(66, 133, 244, 0.9);
  --theme-trans-blue: rgba(66, 133, 244, 0.9);
  --project-font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: url(../img/PhoenixSKy.jfif) no-repeat;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 100vh;
  color: var(--theme-light);
}

/* nav ul li {
  padding: 15%;
} */
li a {
  text-decoration: none;
  color: var(--theme-light);
  font-size: 65%;
}
li:hover {
  background-color: var(--theme-blue);
  font-size: 1.75rem;
}
li a:active {
  color: var(--theme-yellow);
}

/* GP classes */
.hidden {
  display: none;
}

.Header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 10em;
  margin: -8px;
  padding: 0;
  background-color: rgba(66, 133, 244, 0.5);
}

.flexbox-container {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar {
  border: solid rgb(255, 255, 255);
  text-align: left;
  font-family: var(--project-font-family);
  color: var(--theme-dark);
  border-radius: 0.2rem;
  font-size: 1.25rem;
  padding: 1.5%;
  margin: 0.5rem;
  border: cornflowerblue;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: var(--theme-yellow);
  border-radius: 10px;
  color: var(--theme-light);
  font-family: var(--project-font-family);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.btn:hover {
  background-color: var(--theme-light);
  color: var(--theme-blue);
}

.logo {
  text-decoration: none;
  color: var(--theme-light);
  font-size: 150%;
  margin: 2rem;
  font-family: var(--project-font-family);

}

#phx {
  color: var(--theme-yellow);
}

/* Nav Bar */
.navMenu {
  position: relative;
  bottom: 2.5rem;
  list-style-type: none;
  text-align: center;
}

.navBtn:active {
  opacity: 50%;
}
.navBarMenu {
  position: absolute;
  right: 0%;
  background: var(--theme-blue);
  color: var(--theme-dark);
  height: 17%;
  width: 20%;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(94, 110, 201),
    0rem 0rem 0.6rem rgb(94, 110, 201);
}

#openNavBarBtn {
  justify-content: center;
  position: absolute;
  right: 0%;
  border: none;
  background: var(--theme-blue);
  border-radius: 10% 0 0 10%;
  padding: 14px 34px;
  margin-top: 2%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(94, 110, 201),
    0rem 0rem 0.6rem rgb(58, 65, 104);
}

#closeNavBarBtn {
  background: rgb(0, 0, 0, 0);
  border: none;
  padding: 5%;
}
#openNavBarBtn:hover {
  opacity: 50%;
}
#closeNavBarBtn:hover {
  opacity: 50%;
}

.weather-card {
  color: var(--theme-dark);
  background: var(--theme-trans-blue);
  border: solid #ffffff;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
#flightSection {
  color: var(--theme-dark);
  background: var(--theme-trans-blue);
  font-family: var(--project-font-family);
  border: solid #ffffff;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
#flightCardInfo {
  display: flex;
  justify-content: center;
  border: none;
  background: var(--theme-yellow);
  color: var(--theme-dark);
  border-radius: 1rem;
  padding: 14px 34px;
  margin-top: 2%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(51, 69, 160),
    0rem 0rem 0.6rem rgb(94, 110, 201);
}
#flightCardInfo2 {
  display: flex;
  justify-content: center;
  border: none;
  background: var(--theme-yellow);
  font-family: var(--project-font-family);
  color: var(--theme-dark);
  border-radius: 1rem;
  padding: 14px 34px;
  margin-top: 2%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(201, 204, 219),
    0rem 0rem 0.6rem rgb(94, 110, 201);
}
#destWeatherCardInfo {
  display: flex;
  justify-content: center;
  border: none;
  font-family: var(--project-font-family);
  background: var(--theme-blue);
  color: var(--theme-yellow);
  border-radius: 1rem;
  padding: 14px 34px;
  margin-top: 2%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(201, 204, 219),
    0rem 0rem 0.6rem rgb(94, 110, 201);
}
#userWeatherCardInfo {
  display: flex;
  justify-content: center;
  border: none;
  color: var(--theme-light);
  background: var(--theme-blue);
  border-radius: 1rem;
  padding: 14px 34px;
  margin-top: 2%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(201, 204, 219),
    0rem 0rem 0.6rem rgb(94, 110, 201);
}
.navOption {
  font-size: 1.2rem;
  font-family: var(--project-font-family);
}
p {
  padding-left: 1rem;
}
@media (max-width: 600px) { 
  .navOption {
    font-size: 10px;
  }
#userWeatherCardInfo {
  flex-direction: column;
  justify-content: center;
  border: none;
  color: var(--theme-light);
  font-family: var(--project-font-family);
  background: var(--theme-blue);
  text-align: center;
  margin: 0;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(201, 204, 219),
    0rem 0rem 0.6rem rgb(94, 110, 201);
  }
  #userWeatherCardInfo img {
    width: 19%;
    position: relative;
    bottom: 503px;
    left: 4px;
  }
  #destWeatherCardInfo {
  flex-direction: column;
  justify-content: center;
  border: none;
  color: var(--theme-yellow);
  font-family: var(--project-font-family);
  background: var(--theme-blue);
  text-align: center;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: inset 0rem 0rem 0rem 0.06rem rgb(201, 204, 219),
    0rem 0rem 0.6rem rgb(94, 110, 201);
  }
  #destWeatherCardInfo img {
    width: 19%;
    position: relative;
    bottom: 503px;
    left: 4px; 
}
#flightCardInfo {

  flex-direction: column;
  justify-content: center;
}
#flightCardInfo2 {

  flex-direction: column;
  justify-content: center;
}